<div class="row">
  <div class="col-12 text-center p-3 .bg-light">
    <h1><%= @user.user_name %></h1>
    <p><strong><%= @user.bio %></strong></p>
    <p><%= @user.posts.count %> posts</p>
    <p><%= @user.followers.count %> followers</p>
    <p><%= @user.following.count %> following</p>
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, class: "profile_avatar_img" %>
    <% end %>
    <% if user_signed_in? && current_user.following?(@user) %>
      <%= button_to "unfollow", unfollow_path(@user) %>
    <% elsif user_signed_in? && current_user.sent_follow_request_to?(@user) %>
      <%= button_to "cancel follow req", cancel_path(@user) %>
    <% else %>
      <% unless @user.id == current_user.id %>
        <%= button_to "follow", follow_path(@user) %>
      <% end %>
    <% end %>
    <hr />
    <div class="row">
  <div class="col-6 offset-3">
    <div id="posts" class="d-flex">
      <% @user.posts.each do |post| %>
        <%= render 'posts/feed_post', post: post %>
      <% end %>
    </div>
  </div>
</div>
  </div>
</div>




