

<%
=begin%>
 <% if user_signed_in? %>
  <% if current_user.admin? %>
    <p>Signed in as admin</p>
  <% end %>
  <%current_user.follow_requests.each do |request| %>
    <%= request.followerable.email %> wants to follow you
    <%= button_to "accept", accept_path(request.followerable) %>
    <%= button_to "decline", decline_path(request.followerable) %>
  <% end %>
  Followers
  <% current_user.followers.each do |follower| %>
    <p> <%= link_to follower.email, follower %></p>
  <% end %>
  Following
  <% current_user.following.each do |following| %>
    <p> <%= link_to following.email, following %></p>
  <% end %>
<% end %> 
<%
=end%>

<%= turbo_frame_tag :results, data: { turbo_action: 'advance' } do %>
  <div id="posts"></div>
  <%= turbo_frame_tag :pagination, loading: :lazy, src: posts_path(format: :turbo_stream) %>
<% end %>
