<%= stylesheet_link_tag('post') %>
<p class="text-success"><%= notice %></p>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <p>Signed in as admin</p>
  <% end %>
  <%current_user.follow_requests.each do |request| %>
    <%= request.followerable.email %> wants to follow you
    <%= button_to "accept", accept_path(request.followerable) %>
    <%= button_to "decline", decline_path(request.followerable) %>
  <% end %>
  Followers
  <% current_user.followers.each do |follower| %>
    <p> <%= link_to follower.email, follower %></p>
  <% end %>
  Following
  <% current_user.following.each do |following| %>
    <p> <%= link_to following.email, following %></p>
  <% end %>
<% end %>
  <%== pagy_nav(@pagy) %>
<div id="posts" class="text-center">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
