<div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
  <%= link_to root_path, class: 'd-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none' do %>
    <span class="fs-5">Ra</span><span class='d-none d-sm-inline'>ilsAGram</span>
  <% end %>
  <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
    <li class="nav-item">
      <%= link_to root_path, class: 'nav-link px-sm-0 px-2' do %>
        <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Home</span>
      <% end %>
    </li>
    <li class="dropdown">
      <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fs-5 bi-search"></i><span class="ms-1 d-none d-sm-inline">Search</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
        <li>
          <%= search_form_for @q, url: profiles_index_path, class: 'form-inline my-2 my-lg-0' do |form| %>
            <%= form.search_field :email_cont, placeholder: "search", class:'search-field form-control mr-sm-2' %>
            <%= form.submit "search", class:"btn btn-outline-success my-2 my-sm-0" %>
          <% end %>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <%= link_to posts_discover_path, class: 'nav-link px-sm-0 px-2' do %>
        <i class="fs-5 bi-signpost"></i><span class="ms-1 d-none d-sm-inline">Discover</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to new_post_path, class: 'nav-link px-sm-0 px-2' do %>
        <i class="fs-5 bi-plus-square"></i><span class="ms-1 d-none d-sm-inline">Add Post</span>
      <% end %>
    </li>
    <li class="dropdown">
      <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown-more" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline">More</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
        <% if !user_signed_in? %>
          <li>
            <%= link_to "Sign in", new_user_session_path, class: 'dropdown-item' %>
          </li>
          <li>
            <%= link_to "Sign up", new_user_registration_path, class: 'dropdown-item' %>
          </li>
        <% else %>
          <li>
            <%= link_to "Edit account", edit_user_registration_path, class: 'dropdown-item' %>
          </li>
          <li>
            <%= link_to "Sign out", destroy_user_session_path, data: { "turbo-method": :delete, "turbo-confirm": "Are you sure you want to sign out?" }, class: 'dropdown-item' %>
          </li>
        <% end %>
        <li>
          <%= link_to "About", home_about_path, class: 'dropdown-item' %>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li>
              <%= link_to "Admin", rails_admin_path, class: 'nav-link' %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </li>
  </ul>
  <% if user_signed_in? %>
    <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <% if current_user.avatar.attached? %>
          <%= link_to image_tag(current_user.avatar), current_user, class: "avatar_img" %>
        <% end %>
        <span class="d-none d-sm-inline mx-1">Joe</span>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><%= link_to "Profile", current_user, class: 'nav-link' %></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  <% end %>
</div>